{
    "signing": {
        "default": {
            "expiry": "168h"
        },
        "profiles": {
            "server": {
                "expiry": "{{ cfssl_server_expiry_years * 365 * 24 }}h",
                "usages": [
                    "signing",
                    "key encipherment",
                    "server auth"
                ]
            },
            "client": {
                "expiry": "{{ cfssl_client_expiry_years * 365 * 24 }}h",
                "usages": [
                    "signing",
                    "key encipherment",
                    "client auth"
                ]
            },
            "peer": {
                "expiry": "{{ cfssl_peer_expiry_years * 365 * 24 }}h",
                "usages": [
                    "signing",
                    "key encipherment",
                    "client auth",
                    "server auth"
                ]
            },
            "intermediate": {
                "expiry": "{{ cfssl_intermediate_expiry_years * 365 * 24 }}h",
                "ca_constraint": {
                  "is_ca": true,
                  "max_path_len": {{ cfssl_intermediate_max_path_len }},
                  "max_path_len_zero": {{ 'true' if cfssl_intermediate_max_path_len == 0 else 'false' }}
                },
                "usages": [
                    "cert sign",
                    "crl sign"
                ]
            }
        }
    }
}
